body{
    font-family: 'Roboto Mono', monospace !important; 
    background-color:    #455d7a !important;
    overflow: hidden;
    
  }


  .homepage {
    position: absolute;
    width: 100%;
    height: 1000px;
    display: flex;
    background-color: #233142 !important; 
  }

  .homepage .homepageCont {
    font-size: 25px;
    position: absolute;
    top: 80px;
    left: 80px;
   
  }


  .homepage .homeButtonsContainer{
    position: absolute;
    top: 60px;
    right: -750px;
  }

  .homepage h1.ui.header {
    font-size: 4em;
    font-weight: normal;
  }



  .homepage h2 {
    font-size: 1.7em;
    font-weight: normal;
  }
  

  
  /*home page styles*/
  
 
  
  .ui.inverted.top.fixed.menu{
    position: absolute;
    background-color: #233142 !important;
    width: 100%;
    height: 70px;
    font-size: 19px;
    box-shadow: 0 0 10px;
  }

  .ui.inverted.top.fixed.menu .navContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  


  

  
  /*end home page styles*/
  
  .form-control, .form-select, .card, .btn
  {
      border-radius: 15px;
  }
  .input-wrapper{
    height: 40px;
    border-radius: 5px;
    padding: 5px 15px;
    box-shadow: 0 0 10px;
    background-color: #455d7a;
    width: 500px;
    display: flex;
    align-items: baseline;
  }

  .input-wrapper-area{
    height: 120px;
    border-radius: 5px;
    padding: 5px 15px;
    box-shadow: 0 0 10px;
    background-color: #455d7a;
    width: 500px;
    display: flex;
    align-items: baseline;
  }

.trackerGrid{
  position: absolute;
  left: 20px;
  top: 100px;
  height: 90vh;
  width: 1700px;
  border: 2px solid #233142;
 
}
/*tracker */

.trackerGrid .statsContainer {
  position: absolute;
  top: -20px;
  left: 10px;
  background-color: #233142;
  height: 85vh;
  width: 300px;
  border-radius: 5px;
  border: 4px solid #233142;
  border-color: black;
  box-shadow: 0 0 15px;
}

.trackerGrid .statsContainer .distHeader{
  position: relative;
  top: -10px;
  left: -14px;
  color: #e3e3e3;
  width: 293px;
  height: 10px;
    
}

.trackerGrid .macrosHeader{
  position: absolute;
  top: -20px;
  left: 10px;
  width: 950px;
  height: 100px;
  display: flex;
  justify-content:space-evenly;
  align-items: baseline;
  border-radius: 5px;
  background-color: #233142;
  border: 4px solid black;
  box-shadow: 0 0 10px;
}

.trackerGrid .RemainingMacros{
  position: absolute;
  top: 30px;
  left: 0px;
  width: 950px;
  height: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;

}
.trackerGrid .entriesContainer{
  z-index: 1;
  position: relative;
  overflow-y: scroll;
  top: 75px;
  left: -43px;
  background-color: #233142;
  height: 71vh;
  width: 950px;
  border-radius: 5px;
  border: 4px solid black;
  box-shadow: 0 0 10px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.trackerGrid .entriesContainer .search-input-wrapper {
  position: relative;
  top: 25px;
  left: -120px;
  width: 500px;
  height: 3rem;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  box-shadow: 0 0 10px;
  background-color: #455d7a;
  display: flex;
  align-items: center;
}

.trackerGrid .entriesContainer .input-wrapper-grams {
  z-index: 1;
  position: absolute;
  right: 180px;
  top: 27px;
  width: 130px;
  height: 3rem;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  box-shadow: 0 0 10px;
  background-color: #455d7a;
  display: flex;
  align-items: center;
}


.food-list-wrapper {
  position: absolute;
  z-index: 1;
  left: 40px;
  top: 100px;
}
.trackerGrid .entriesContainer .food-list-wrapper .food-wrapper{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #455d7a;
  box-shadow: 0 0 10px;
  width: 90%; 
  padding: 5px; 
  margin-bottom: 10px;
 
}
.trackerGrid .entriesContainer  .food-wrapper .macros {
  margin: 0; 
}

.trackerGrid .entriesContainer  .food-wrapper .icons {
  margin-right: 5px;
}


.search-input-wrapper .foodInput {
  position: relative;
  left: 10px;
  background-color: #455d7a;
  border: none;
  height: 90%;
  font-size: 1.25rem;
  width: 500px;
  margin-left: 5px;
  
}
.input-wrapper-grams .foodInput {
  position: relative;
  width: 100px;
  background-color: #455d7a;
  border: none;
  height: 90%;
  font-size: 1.25rem;

}

.trackerGrid .entriesContainer .results-list {
  position: relative;
  z-index: 2;
  width: 500px;
  background-color: #455d7a;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px black;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: -240px;
  max-height: 300px;
  overflow-y: auto;
}
.search-result {
  padding: 10px 20px;
}

.search-result:hover {
  background-color: lightslategray;
}

.trackerGrid .noGoalContainer{
  position: absolute;
  top: -18px;
  left: 20px;
  background-color: #233142;
  height: 70vh;
  width: 900px;
  border-radius: 5px;
  border: 4px solid black;
  box-shadow: 0 0 10px;
  display: flex;
  align-items: center;
}


.trackerGrid .mealsContainer {
  position: absolute;
  top: -20px;
  right: 30px;
  height: 70px;
  background-color: #233142;
  height: 70vh;
  width: 350px;
  border-radius: 5px;
  border: 4px solid black;
  box-shadow: 0 0 10px;

}

.trackerGrid .mealForm{
  position: absolute;
  top: -20px;
  right: 50px;
  height: 70vh;
  width: 550px;
  padding: 15px;
  background-color: #233142;
  border-radius: 5px;
  border: 4px solid black;
  box-shadow: 0 0 10px;
}

.trackerGrid .mealForm .macrosInput{
    height: 40px;
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: 5px;
    box-shadow: 0 0 10px;
    background-color: #455d7a;
    width: 80px;
    display: flex;
    align-items: baseline;
}

.trackerGrid .mealForm .input-wrapper-area{
  position: relative;
  top: 35px;
}

.trackerGrid .mealForm .icons-flame{
  position: relative;
  top: 60px;
  left: -120px;
  color: orangered;
}

.trackerGrid .mealForm .macrosInput-cals{
  position: relative;
  top: 20px;
  left: -60px;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0 0 5px;
  background-color: #455d7a;
  width: 80px;
  display: flex;
  align-items: baseline;
}

.trackerGrid .mealForm .macrosInput-pro{
  position: relative;
  top: -50px;
  left: 90px;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0 0 5px;
  background-color: #455d7a;
  width: 80px;
  display: flex;
  align-items: baseline;
}

.trackerGrid .mealForm .macrosInput-carbs{
  position: relative;
  top: -50px;
  left: -59px;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0 0 5px;
  background-color: #455d7a;
  width: 80px;
  display: flex;
  align-items: baseline;
}

.trackerGrid .mealForm .macrosInput-fats{
  position: relative;
  top: -120px;
  left: 90px;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0 0 5px;
  background-color: #455d7a;
  width: 80px;
  display: flex;
  align-items: baseline;
}


.trackerGrid .mealsContainer .mealsListContainer {
  position: relative;
  z-index: 1;
  overflow-y: scroll;
  height: 50vh;
  width: 350px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
}

.trackerGrid .mealsContainer .mealsListContainer .meal-wrapper{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-radius: 5px;
  background-color: #455d7a;
  box-shadow: 0 0 10px;
  width: 300px; 
  height: 45px;
  padding: 5px; 
  margin-bottom: 10px;
 
}

.trackerGrid .mealsContainer .mealsListContainer .meal-details-card{
  position: absolute;
  z-index: 2;
  top: -10px;
  left: 30px;
  width: 240px;
  height:240px;
  border: #233142;
  background-color: #455d7a;
  box-shadow: 0 0 10px;
}

.trackerGrid .mealsContainer .mealBtn {
   position: absolute;
   width: 150px;
   bottom:  25px;
   left: 95px;
}

.trackerGrid .macrosHeader .macros{
  color: #e3e3e3;
  position: relative;
  top: 5px;
}
.trackerGrid .macrosHeader .macrosC{
  color: #e3e3e3;
  position: relative;
  top: 7px;
  left: -60px;
}
.trackerGrid .macrosHeader .macrosM{
  color: #e3e3e3;
  position: relative;
  top: 6px;
  left: -100px;
}
.trackerGrid .RemainingMacros .macros{
  color: #e3e3e3;
  
}
.trackerGrid .RemainingMacros .macrosC{
  color: #e3e3e3;
  position: relative;
  top: 2px;
  left: 20px;
  
}
.trackerGrid .RemainingMacros .macrosM{
  color: #e3e3e3;
  position: relative;
  top: 2px;
  left: 20px;
  
}
.trackerGrid .RemainingMacros .macrosCa{
  color: #e3e3e3;
  position: relative;
  top: 2px;
  left: 40px;
}
.trackerGrid .RemainingMacros .macrosF{
  color: #e3e3e3;
  position: relative;
  top: 2px;
  left: 80px;
}
.trackerGrid .RemainingMacros .clearBtn{
  color: #e3e3e3;
  position: relative;
  top: -18px;
  left: 50px;
  width: 80px;
  height: 40px;
}




.trackerGrid .entriesContainer .addFoodButton {
  z-index: 1;
  position: absolute;
  right: 90px;
  top: 27px;
  width: 60px;
  height: 2.8rem;
}
.trackerGrid .entriesContainer .solid {
  position: relative;
  top: -15px;
  border-top: 2px solid #f95959;
  width: 800px;
  border-radius: 10px;
}

.weightContainer {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 300px !important; 
  background-color: #233142;
  height: 80vh;
  border-radius: 5px;
  border: 4px solid black;
  box-shadow: 0 0 10px;
}

input:focus {
  outline: none;
}

#search-icon {
  color: royalblue;
}

.calculator{
  position: absolute;
  top: 150px;
  left: 300px;
  width: 1000px;
  border-radius: 10px;
  border: 2px solid #233142;
  background-color: #233142;
  box-shadow: 0 0 10px;
  display: flex;
  align-items: center; 
  justify-content: center;
}
.buttons{
  border-radius: 25px;
  
}


.chicken{
  color: #FF9966;
}

.bread{
  color: burlywood;
}

.avocado{
  color: lightgreen;
}

.flame{
  color: orangered;
}

.navIcon{
  color: #e3e3e3;
}